<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spreadsheet</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="menu">
        <div class="file-options">
            <!-- Grid clean -->
            <div id="new">New</div>
            <div id="save">Save</div>
            <div id="open">Open</div>
            
        </div>
        <div class="formattings">Format</div>
        <div class="alignment">Align</div>
    </div>

    <div class="formula-bar">
        <input type="text" placeholder="Enter address" id="address" contenteditable = "false">
        <input type="text" id="formula">
    </div>

    <div class="main">
        <div class="top-left-box">top-left</div>
        <div class="top-row">
            <%for(let j=0;j < 26; j++){%>
                <div class="cell">
                    <%=String.fromCharCode(65+j)%>
                </div>
            <%}%>
        </div>
        <div class="top-left-col">
            <%for(let i=0;i < 100; i++){%>
                <div class = "cell">
                    <%=i+1%>
                </div>
            <%}%>

        </div>
        <div class="grid">
            <%for(let i=0; i < 100 ;i++){%>
                <div class="row">
                    <%for(let j=0; j < 26 ;j++){%>
                        <div class="cell" contenteditable = "true" cid=<%=j%> rid=<%=i%>></div>
                    <%}%>
                </div>
            <%}%>               
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" defer></script>
    <script src="render.js"></script>

</body>

</html>